<section class="feauters-two">
    <div class="feauters-two__bg" [style.background-image]="'url(assets/images/backgrounds/feature-v1-bg.png)'">
    </div>
    <div class="container">
        <div class="section-title">
            <div class="section-title__tagline">
                <span class="left"></span>
                <h4></h4>
            </div>
            <h2>UN ESPACE CLIENT<br>DEDIE</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="feauters-two__content-box" >
                    <div class="feauters-two__big-title" style="padding: 0">
                        <!--<h2>Feature</h2>-->
                    </div>
                    <div class="shape1 zoom-fade">
                        <img src="assets/images/shapes/feature-v1-shape1.png" alt="img" />
                    </div>
                    <div class="shape2 zoom-fade">
                        <img src="assets/images/shapes/feature-v1-shape2.png" alt="img" />
                    </div>
                    <div class="row">
                        <!--Start Feauters Two Single-->
                        <div class="col-md-12" style="z-index: 99;">
                          <div class="service-one__tabs tabs-box">
                            <ul ngbNav #nav="ngbNav" class="tab-buttons clearfix list-unstyled">
                                <li [ngbNavItem]="1">
                                    <ng-template ngbNavContent>
                                        <div class="row clearfix">
                                            <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                <div class="inner">
                                                    <div class="service-one__img">
                                                        <img src="assets/images/services/service-v1-img1.png" alt="img" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                <div class="inner">
                                                    <div class="service-one__right">
                                                        <h2 class="service-one__right-title">Management Consulting and <br>Strategy
                                                            Consulting</h2>
                                                        <p class="service-one__right-text">Sed ut perspiciatis unde omnis iste natus
                                                            error sit voluptem accusantium doloremu laudantium totam rem aperiam
                                                            eaque upsa quae abillo inventore veritatis architecto</p>
                                                        <ul class="service-one__right-list list-unstyled">
                                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Static
                                                                Innovations</li>
                                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Consulting &
                                                                Advisory</li>
                                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Turnaround
                                                                Situations</li>
                                                        </ul>
                                                        <div class="buttons">
                                                            <a routerLink="/services" class="thm-btn service-one-btn">Read
                                                                More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="tabs-content"></div>
                        </div>
                        </div>
                        <!--End Feauters Two Single-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
