<section class="banner-one clearfix">
    <div class="shape1 wow slideInRight" data-wow-delay="500ms" data-wow-duration="3500ms"><img src="assets/images/shapes/banner-shape-1.png" alt="img" /></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="banner-one__inner-box">
                    <h4 class="banner-one__big-title">OLEA</h4>
                    <div class="banner-one__content">
                        <div class="section-title">
                            <div class="section-title__tagline wow slideInUp animated" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                <span class="left"></span>
                                <h2 style="color: brown;">OLEA DIGITAL</h2>
                            </div>
                            <h3 class="section-title__title  wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">Votre Comparateur<br>à portée <br>de main !</h3>
                            <div class="row">
                              <div class="col-md-4" style="margin-left: auto; margin-right: auto; display: block; text-align: center;">
                              <span ><img src="https://img.icons8.com/ios-glyphs/100/848484/car--v1.png"/><h3>Assurance Auto</h3></span>
                              </div>
                              <div class="col-md-4" style="margin-left: auto; padding: 10px; margin-right: auto; display: block; text-align: center;">
                                <span><img src="https://img.icons8.com/ios/100/00f6ff/stethoscope.png"/><h3>Assurance Santé</h3></span>
                              </div>
                              <div class="col-md-4" style="border-radius: 10px; background-color: cadetblue; margin-left: auto; margin-right: auto; display: block; text-align: center;">
                                <span><img src="https://img.icons8.com/ios/100/ff00ee/airport.png"/><h3>Assurance Voyage</h3></span>
                              </div>
                            </div>
                          </div>
                        <!--
                          <p class="banner-one__text wow slideInUp animated" data-wow-delay="0.4s" data-wow-duration="1500ms">Building a learning culture that drives business</p>
                          <div class="banner-one__btn wow slideInUp animated" data-wow-delay="0.5s" data-wow-duration="1500ms">
                          <a routerLink="/contact" class="thm-btn">Free Consultation <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                        -->
                    </div>
                    <div class="banner-one__banner-img wow slideInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                      <div class="why-choose-one__img">
                        <img src="assets/images/backgrounds/banner-img1.png" alt="img" />
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
